<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Online Notice Board</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <link rel="stylesheet" href="/stylesheets/glyphicons.css"> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.13.0/css/pro.min.css">

  </head>
  <body id="page-top"">
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand font-weight-bold mx-1 pl-lg-5 pl-md-5" href="#page-top">Online Notice Board</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item active">
              <a class="nav-link" href="#page-top"><i class="fad fa-home mr-1"></i>Home<span class="sr-only">(current)</span> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about"><i class="fad fa-info-circle mr-1"></i>About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact"><i class="fad fa-id-badge mr-1"></i>Contact</a>
            </li> -->
            <!-- Dropdown -->
            <li class="nav-item dropdown mr-5 pr-5">              
              <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown"><i class="fad fa-user-circle mr-1"></i><%= user.username %></a>
              <div class="dropdown-menu bg-dark border-0">
                <a class="dropdown-item bg-dark text-white" href="/home"><i class="fad fa-envelope mr-1"></i>Notifications</a>
                <a class="dropdown-item active bg-dark text-white" href="/profile"><i class="fad fa-user mr-1"></i>Profile</a>
                <a class="dropdown-item bg-dark text-white" href="/changepassword"><i class="fad fa-key mr-1"></i>Change Password</a>
                <a class="dropdown-item bg-dark text-white" href="/logout"><i class="fad fa-sign-out mr-1"></i>Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container-fluid my-5" ng-app="myApp" ng-init="chooseGender = true; disabled = true; editProfileImg = true" ng-controller="profileController">
      <h1 class="h2 text-center mb-4 p-3 shadow border rounded-lg">Profile</h1>
      <form class="container col-md-8 p-3 bg-light shadow-lg rounded-lg border" ng-init="user = { name : 'Prasad'}">
        <div class="row px-3 text-center">
          <div class="col p-3">
            <p ng-bind="userpro.firstname"></p>
            <img src="<%= user.img %>" class="rounded-circle border p-1 bg-light" alt="user" height="180" width="180">
          </div>
        </div>
        <div class="row text-center">
          <div class="px-3 col">
            <div class="custom-file">
              <input required type="file" class="custom-file-input required" accept="image/*" id="customFile" ng-modal="profileImg" ng-disabled="editProfileImg">
              <label class="custom-file-label" for="customFile">Choose an Image</label>
            </div>
            <button class="btn btn-info my-2 w-100" ng-show="editProfileImg" ng-click="editProfileImg = false">Change Profile Image</button>
            <button type="submit" class="btn btn-success my-2 w-100" ng-hide="editProfileImg" ng-click="editProfileImg = true">Update Profile Image</button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col border-right">
            <label class="control-label" for="fname">First Name :</label>
            <input required type="text" class="form-control" id="fname" value="<%= user.firstname %>" ng-disabled="disabled">
          </div>
          <div class="col border-left">
            <label class="control-label" for="lname">Last Name :</label>
            <input required type="text" class="form-control" id="lname" value="<%= user.lastname %>" ng-disabled="disabled">
          </div>
        </div>
        <!-- <div class="row px-3">
          <div class="col border-right">Prasad</div><div class="col border-left">Medisetti</div>
        </div> -->
        <hr>
        <div class="row">
          <div class="col">
            <label class="control-label" for="uname">User Name :</label>
            <input required type="text" class="form-control" id="uname"  value="<%= user.username %>" ng-disabled="disabled">
          </div>
        </div>
        <!-- <div class="row px-3">
          <div class="col border-right">Username</div><div class="col border-left">uname</div>
        </div> -->
        <hr>
        <div class="form-row my-2 px-2">
          <label class="control-label" for="gender">Gender :</label>
          <input type="text" class="form-control" ng-show="chooseGender" value="<%= user.gender %>" ng-disabled="disabled">
          <div class="container-fluid mx-n3" ng-hide="chooseGender">
            <div class="custom-control custom-radio custom-control-inline">
              <input required type="radio" class="custom-control-input" id="male" name="gender" value="male" checked ng-disabled="disabled">
              <label class="custom-control-label" for="male">Male</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input required type="radio" class="custom-control-input" id="female" name="gender" value="female" ng-disabled="disabled">
              <label class="custom-control-label" for="female">Female</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input required type="radio" class="custom-control-input" id="others" name="gender" value="others" ng-disabled="disabled">
              <label class="custom-control-label" for="others">Others</label>
            </div>
          </div>
        </div>
        <hr>
        <!-- <div class="row px-3">
          <div class="col border-right">Email</div><div class="col border-left">prasadmedisetti34@gmail.com</div>
        </div> -->
        <div class="row">
          <div class="col">
            <label class="control-label" for="uname">Email :</label>
            <input required type="email" class="form-control" id="email"  value="<%= user.email %>" ng-disabled="disabled">
          </div>
        </div>
        <hr>
        <!-- <div class="row px-3">
          <div class="col border-right">Gender</div><div class="col border-left">Male</div>
        </div> -->
        <div class="row">
          <div class="col">
            <label class="control-label" for="Phone">Phone :</label>
            <input required type="tel" class="form-control" id="Phone"  value="<%= user.phone %>" ng-disabled="disabled">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col">
            <label class="control-label" for="dob">Date Of Birth :</label>
            <input required type="date" class="form-control" name="dob" id="dob"  value="<%= user.dob %>" ng-disabled="disabled">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <button class="btn btn-info w-100" ng-hide="editUser" ng-click="chooseGender = false; disabled = false; editUser = true"><i class="fad fa-user-edit mr-1"></i>Edit Profile</button>
            <button type="submit" class="btn btn-success w-100" ng-show="editUser" ng-click="chooseGender = true; disabled = true; editUser = false""><i class="fad fa-user-check mr-1"></i>Update Profile</button>
          </div>
        </div>
      </form>
    </main>

    <footer class="py-5 bg-dark">
      <div class="container text-center text-white">
        <p>Designed by <span class="myName">Prasad Medisetti</span></p>
        <p>Copyright <i class="fad fa-copyright"></i> 2020</p>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    
    <!-- Custom JavaScript -->
    <script>
      // Disable form submissions if there are invalid fields
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Get the forms we want to add validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();


      // Add the following code if you want the name of the file appear on select
      $(".custom-file-input required").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
      });
    </script>

    <script>
      var app = angular.module('myApp', []);
      app.controller('profileController', function($scope, $http) {

        
      
      });

    </script>
  </body>
</html>
